@charset "UTF-8";

* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

main, body {
height: 100vh;
width: 100vw;
background-color: black;

}

main {
height: 100vh;
position: relative;
background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
background-size: cover;
background-attachment: fixed;

}

section#telefone {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

height: 627px;
width: 311px;
background-color: blue;
background: url('../imagens/frame-iphone.png') no-repeat;


}
 
iframe#tela {
position: relative;
top: 80px;
left: 22px;
width: 267px;
height: 472px;
}

    section#rede-sociais img {
width: 50px;
margin: 10px;
border-radius: 50%;
box-shadow: 20px 2px 5px rgba(0, 0, 0, 0.37);
box-sizing: border-box;
}

section#rede-sociais img:hover {
border: 2px solid white;
transform: translate(-3px, -3px);
box-shadow: 5px 5px rgba(0, 0, 0, 0.486);
transition: transform .3s;
}